/*//META{"name": "Alpha's Theme / Dev", "description": "Версия для github. (Для новой версии) Нет авто-обновлений.", "author": "AlphaS", "version": "3"}*/
/**/

:root,
.theme-dark {
    --bg1: #000;
    --bg2: #111;
    --bg3: #161616;
    --bg4: #1f1f1f;
    --light: #444;

    --background-floating: var(--bg2);
    --background-primary: var(--bg3) !important;
    --background-secondary: var(--bg3) !important;
    --background-secondary-alt: var(--bg4) !important;
    --background-tertiary: var(--bg1) !important;

    --background-modifier-accent: #0000 !important;
    --background-modifier-hover: #FFF1 !important;
    --background-modifier-active: #FFF2 !important;
    --background-modifier-selected: #FFFFFF09 !important;

    /* App bg */
    --neutral-72: var(--bg2) !important;
    /* Sidebar bg */
    --neutral-76: var(--bg2) !important;
    /* Chat + Profile overlay */
    --neutral-69: var(--bg3) !important;
    /* Action bar for messages */
    --neutral-60: var(--bg4) !important;
    /* Voice chat buttons bg */
    --neutral-73: var(--bg3) !important;
    /* Sidebar icons bg */
    --neutral-63: var(--bg3) !important;
    /* Overlay bg */
    --neutral-66: var(--bg3) !important;

    /* Profile buttons */
    --button-secondary-background: var(--bg4) !important;

    --custom-app-top-bar-height: 0px !important;
}

* {
    transition: background .2s ease, opacity .1s ease;
}

.base-2jDfDU {
    border-radius: 16px 0 0 0;
}

.base_c48ade {
    overflow: visible !important;
}

.title_c38106 {
    display: none;
}

.bar_c38106 {
    position: absolute;
    right: 0;
    display: flex !important;
    width: fit-content;
    z-index: 9997;

    height: 12px;
    opacity: 0;

    transition: height .2s .1s ease, opacity .2s .1s ease;
}

/* Friends Activity bg fix */
.container__7d20c {
    background: var(--bg-overlay-4, var(--background-base-lowest));
}

/* Hide PLAY AGAIN */
.container__675e5,
.container__675e5+.sectionDivider__35e86 {
    display: none;
}

.trailing_c38106 {
    position: absolute;
    right: 0;
    z-index: 9999;
    height: 56px;
}

.bar_c38106:hover {
    opacity: 1;
    height: 56px;
}

.visual-refresh .sidebar_c48ade:after {
    display: none;
}

.visual-refresh .wrapper_ef3116 {
    margin-bottom: 0 !important;
}

.visual-refresh .panels_c48ade {
    bottom: var(--spacing-4);
    left: calc(var(--custom-guild-list-width) + var(--spacing-4));
    width: calc(100% - var(--custom-guild-list-width) - var(--spacing-8));
}

.itemCard__7e549 {
    border-radius: 24px;
}

.section__00943:only-child {
    border-radius: 12px;
}

.bd-sidebar-header>.header-2RyJ0Y,
.bd-addon-card[id="Alpha's Theme-card"]>.bd-addon-header>.bd-title {
    color: #99f;
}

.bd-addon-card[id="Alpha's Theme / Dev-card"]>.bd-addon-header>.bd-title {
    color: #5757ff;
}

/* Rainbow border aninmation */
@keyframes rainbow {
    0% {
        box-shadow: inset 0 0 0 1px #ff0000;
    }

    16.666% {
        box-shadow: inset 0 0 0 1px #ff8000;
    }

    33.333% {
        box-shadow: inset 0 0 0 1px #ffff00;
    }

    50% {
        box-shadow: inset 0 0 0 1px #00ff00;
    }

    66.666% {
        box-shadow: inset 0 0 0 1px #0000ff;
    }

    83.333% {
        box-shadow: inset 0 0 0 1px #ff00ff;
    }

    100% {
        box-shadow: inset 0 0 0 2px #5757ff;
    }
}

.vc-settings-theme-links {
    position: relative;
    color: #5757ff !important;
}

#vencordthemes-tab>div>div:nth-child(4)>div.children__7bffb>div>.inputMaxLength__7aff3::after {
    position: absolute;
    inset: 0;
    content: '';
    box-shadow: inset 0 0 0 2px #5757ff;
    animation: rainbow 1s linear forwards;
    filter: brightness(1.5);
    border-radius: 8px;
    pointer-events: none;
}