/*//META{"name": "Alpha's Theme / Dev", "description": "Версия для github. Нет авто-обновлений.", "author": "AlphaS", "version": "2+"}*//**/

:root, .theme-dark {
    --bg1: #000;
    --bg2: #111;
    --bg3: #191919;
    --bg4: #222;
    --light: #444;

    --background-floating: var(--bg2);
    --background-primary: var(--bg3) !important;
    --background-secondary: var(--bg3) !important;
    --background-secondary-alt: var(--bg4) !important;
    --background-tertiary: var(--bg1) !important;

    --background-modifier-accent: #0000 !important;
    --background-modifier-hover: #FFF1 !important;
    --background-modifier-active: #FFF2 !important;
    --background-modifier-selected: #FFFFFF09 !important;
}
.base-2jDfDU {
    border-radius: 16px 0 0 0;
}
.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
    border: solid 1px #FFF2;
}
.content-1gYQeQ {
    border: solid 1px #FFF0;
    transition: background 0.1s ease, border 0.1s ease;
}
.container-2cd8Mz, .container-ZMc96U.themed-Hp1KC_ {
    background: var(--bg3) !important;
}

.itemCard-3Etziu {
    background: var(--bg2) !important;
    border-radius: 24px;
}

.body-16rSsp {
    border-radius: 14px;
    overflow: hidden;
}

.panels-3wFtMD {
    border-top: solid 1px var(--light);
    border-radius: 10px 10px 0 0;
}

.button-12Fmur {
    transition: background 0.2s ease;
}

.linkButton-2NshQj, .interactive-1vLZ_I {
    border: solid 1px #FFF0;
    border-radius: 12px;
    transition: background 0.1s ease, padding 0.3s ease;
}
.interactiveSelected-29CP8y {
    padding: 4px 0;
    border: solid 1px #FFF2;
}
.children-3xh0VB:after {
    display: none;
}
.item-3mHhwr {
    transition: padding 0.3s ease;
}
.item-3mHhwr {
    padding: 5px;
}
.selected-g-kMVV.item-3mHhwr {
    padding: 5px 16px;
}

.scrollableContainer-15eg7h, .channelTextArea-1FufC0 {
    background: #0000;
}
.channelTextArea-1FufC0 {
    background: #222D;
    backdrop-filter: blur(4px);
}
.form-3gdLxP {
    background: #0000;
}

.bd-sidebar-header > .header-2RyJ0Y, .bd-addon-card[id="Alpha's Theme-card"] > .bd-addon-header > .bd-title {
    color: #99f;
}
.bd-addon-card[id="Alpha's Theme / Dev-card"] > .bd-addon-header > .bd-title {
    color: #5757ff;
}
